$container-width: 1200px;

// color variables

$black: #000000;
$light-black: #444444;
$gray: #8b8b8b;
$white: #ffffff;
$dark-white: #f7f7f7;
$red: #f57365;

$primary: $white;
$main-text: $light-black;

// font variables

$main-font: "Lato", sans-serif;
$secondary-font: Times New Roman, serif;

// breakpoint variables

$md: 1024px;
$sm: 640px;
$xs: 480px;
